h1 {
    text-align: center;
    color: rgb(151, 108, 14);
    
}

img {

    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    


}

body {

    background-image: url(grill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imgcontainer {

    display: flex;
    justify-content: center;
    align-items: center;
    
     
}